body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: gainsboro;
    text-align: center;
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 70%;
}

h1 {
    font-size: 4.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

h2 {
    font-size: 4rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 2rem;
}

span {
    color: white;
}

.instructions {
    margin: 0;
}

#reps {
    display: flex;
    flex-direction: column;
}

#count-el {
    outline: 1px solid steelblue;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    width: 25rem;
    margin-top: 2rem;
    
}

button {
    border: none;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    width: 25rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
    border-radius: .5rem;
    opacity: .8;
}

button:hover {
    opacity: 1;
}

#increment-btn {
    background: steelblue;
    margin-bottom: 1rem;
}

#save-btn {
    background: lightslategray;
}

#reset-btn {
    background: lightsalmon;
}

#save-el {
    outline: 1px solid steelblue;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    width: 90%;
    min-height: 4rem;
    margin-top: .25rem;
    font-size: 4rem;
}

@media only screen and (min-width: 360px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    p {
        font-size: .8rem;
    }

    #count-el {
        width: 15rem;
        margin: 2rem auto 1rem;
    }

    button {
        font-size: 2rem;
        width: 15rem;
    }
}

@media only screen and (min-width: 460px) {
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    p {
        font-size: 1rem;
    }

    #count-el {
        width: 20rem;
        margin: 2rem auto 1rem;
    }

    button {
        font-size: 2rem;
        width: 20rem;
    }
}